.text_error { @apply text-red-600 border-red-600; }
.text_right { @apply text-green-400 border-green-400; }

.shake {
  transform: translateX(0);
  animation: shake .3s ease forwards;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}